body {
    background-color: $darkBgColor;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    flex-direction: column;
    align-items: center;


}


body.lightMode {
    background-color: $lightBgColor;
}