html {
    scroll-behavior: smooth !important;
    // scroll-padding-top: 8rem;
}

body {
    background-color: $darkBgColor;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

body.lightMode {
    background-color: $lightBgColor;
}

// Container
.content {
    max-width: 1400px;
    width: 95%;
    padding-top: 2rem;
    text-align: center;

    h1 {
        font-size: 40px;

        @media screen and (max-width:700px) {
            font-size: 30px;
        }
    }

    h2 {
        font-size: 25px;
        font-weight: 400;

        @media screen and (max-width:700px) {
            font-size: 20px;
            font-weight: 300;
        }
    }

}


.contentFullWidth {
    width: 100%;
    // padding-top: 2rem;
    text-align: center;
    background-image: url("../images/block-banner.jpg");
    padding: 5rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0rem 75%;
    position: relative;
    margin-top: 2rem;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;

    @media screen and (max-width:700px) {
        background-position: center;
    }



    .seo-block {
        z-index: 10;
        position: relative;
        max-width: 900px;
        width: 90%;
        margin: 1rem auto;
        padding: 1rem 0;
        ;
    }

    h2 {
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 1rem;
        color: $white;
    }

    p {
        margin-bottom: 5px;
        font-size: 15px;
        color: $white;
        font-weight: 300;
    }
}

.content-subpage {
    max-width: 1400px;
    width: 95%;
    padding-top: 10rem;
    text-align: center;
    margin-bottom: 5rem;
    min-height: 13rem;


    @media screen and (max-width: 700px) {
        padding-top: 6rem;

    }

    h1 {
        font-size: 30px;
        margin: 20px auto 40px auto;
        text-align: right;

        @media screen and (max-width:700px) {
            text-align: left;
        }
    }

    .alignmentCenter {
        text-align: center;
    }
}

.paddingRemoved {
    padding-top: 0;
    border-top: 2px solid $lightBgColor;

    .lightMode & {
        border-top: 2px solid $darkBgColor;
    }
}

// Sections
.hero-banner {
    width: 100%;
    height: 80vh;
    background-image: url("../images/banner-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: $deafaultTransition;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid $lightBgColor;

    .lightMode & {

        border-bottom: 1px solid $darkBgColor;
    }

    a {
        margin-bottom: 2rem;
    }


    @media screen and (max-width:1200px) {
        height: 60vw;
    }


    @media screen and (max-width:600px) {
        height: 45vw;
        transition: $deafaultTransition;
        padding-top: 1rem;

        a {
            margin-bottom: 1rem;
        }
    }
}

.middlePage {
    background-image: url("../images/banner-2.jpg");
    width: 100%;
    height: 55vw;
    border-bottom: 1px solid $lightBgColor;

    .lightMode & {
        border-bottom: 1px solid $darkBgColor;
    }
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.specialMargin {
    margin: 2rem 0;
    padding: 0;
}

.after-banner {
    width: 100%;
    background-image: url("../images/mid-banner-engine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3rem 0;

    @media screen and (max-width:700px) {
        background-position: center;
    }
}






.two-lines {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
        width: auto;
    }

}


.historia-empresa {
    margin: 2rem 0;

    p {
        margin-bottom: 1rem;
    }

    .bloque-uno {
        display: flex;
        margin-bottom: 20px;



        .bloque-uno-texto {
            text-align: right;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .leftText {
            text-align: left;
            margin-left: 20px;
        }

        img {
            max-width: 500px;
            width: 100%;
            height: auto;
            border-radius: 5px;
        }

        @media screen and (max-width:980px) {
            flex-direction: column;
            align-items: center;

            .leftText {
                margin-left: 0;
                text-align: justify;
            }

            .bloque-uno-texto {
                text-align: justify;
            }
        }

        .premios-items {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;


            @media screen and (max-width:980px) {
                margin: 0 auto;
                width: 90%;
                margin-bottom: 1rem;
                margin-top: 30px;

            }


            li {
                font-size: 18px;
                font-weight: 400;
                color: $lightBgColor;

                .lightMode & {
                    color: $darkBgColor;
                }

            }
        }

    }

    .vintageImage {
        img {
            filter: sepia(0.5);
        }
    }

    @media screen and (max-width:980px) {
        .reverseOrder {
            flex-direction: column-reverse;
        }
    }


    .premiosSection {
        margin-top: 5rem;
        width: 80%;
        margin: auto;

        @media screen and (max-width:980px) {
            margin-top: 0;
            margin-bottom: 30px;
            width: 100%;
        }
    }

    .bullets-title {
        margin: 40px 0;
        text-align: center;

        @media screen and (max-width:980px) {
            text-align: justify;
            margin: 20px 0;
        }

    }
}