footer {
    background-color: $darkBgColor;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0 0;
    border-top: 8px solid $white;

    .footer-top-level {
        max-width: 1400px;
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        justify-content: space-around;
        margin-bottom: 1rem;

        span {
            .lightMode & {
                color: $white;
            }
        }

        @media screen and (max-width:730px) {
            flex-direction: column;
        }

        .footer-logo {
            background-image: url("../images/logo.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 5rem;
            height: 5rem;
            transition: $deafaultTransition;

            &:hover {
                filter: drop-shadow(2px 4px 6px $white);
                transition: $deafaultTransition;
            }



            @media screen and (max-width:730px) {
                margin-bottom: 2rem;
            }

        }

        span {
            max-width: 400px;
            font-size: 15px;
            font-weight: 300;
        }

        

        .footer-cierre {
            display: flex;
            flex-direction: column;
            text-align: left;
            align-items: flex-start;

            @media screen and (max-width:700px) {
                text-align: center;
                align-items: center;
            }

            span {
                &:nth-child(2) {
                    margin-top: 10px;
                    text-align: left;
                }
            }
        }
    }

    .footer-bottom-level {
        background-color: lighten($darkBgColor, 10%);
        width: 100%;
        padding: 10px 0;

        .copy-container {
            max-width: 1400px;
            width: 95%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: auto;
            justify-content: center;

            span {
                &:nth-child(2) {
                    margin-left: 5px;
                }
            }

            @media screen and (max-width:730px) {
                flex-direction: column;

                span {
                    &:nth-child(2) {
                        margin-top: 10px;
                        margin-left: 0;
                    }
                }
            }

            span {
                max-width: 400px;
                font-size: 15px;
                font-weight: 300;
                text-align: center;

                .lightMode & {
                    color: $white;
                }

                a {
                    color: $white;

                    .lightMode & {
                        color: $white;
                    }
                }
            }
        }
    }

   
}