// SIGN UP FORM----------------------------------
.form-container {
    display: flex;
    max-width: 1300px;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    z-index: 9;

    @media screen and (max-width:800px) {
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h4 {
            margin-bottom: 1rem;
        }

        img {
            max-width: 300px;
            width: 95%;
        }
    }

    .signup {
        .img-form {
            border-radius: 10px;
            width: 20rem;
        }

        h4 {
            color: $white;
            font-weight: 300;
            font-size: 17px;
        }
    }

    .signup-form {
        p {
            color: $white;
            max-width: 300px;
            font-weight: 300;
            margin-bottom: 1rem;
            font-style: italic;
        }

        input {
            width: 99%;
            height: 25px;
            border: none;
            border-radius: 5px;

            &::placeholder {
                color: $black;
                font-weight: 500;
            }

            &:focus-visible {
                outline: none;
                box-shadow: 4px 3px 3px -1px $shadowColor2;
            }

            &:focus::placeholder {
                color: $white;
            }
        }

        .button {
            width: 100%;
            margin: 10px 0 0 0;
        }
    }
}


// LOGIN FORM------------------------------------
.login-form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;


    input {
        width: 99%;
        height: 25px;
        border: none;
        border-radius: 5px;

        &:focus-visible {
            outline: none;
            box-shadow: 4px 3px 3px -1px #9aa6c9;
        }
    }

    .button {
        margin: 10px 0;
    }

    label {
        font-size: 15px;
        margin-top: 10px;
    }

    .check-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        input {
            width: auto;
            margin-right: 10px;

            &:focus-visible {
                outline: none;
                box-shadow: 4px 3px 3px -1px #9aa6c9;
            }
        }

        span {
            font-size: 15px;
        }
    }

    @media screen and (max-width:400px) {
        max-width: 320px;
        width: 95%;
        margin: auto;

        input,
        label,
        button,
        select {
            width: auto;
        }
    }
}


// CONTACT FORM-------------------

.contact-form,
.create-user-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;

    .contact-section {
        display: flex;
        flex-direction: column;

        align-items: center input {
            width: auto;
        }

    }

    input,
    select,
    textarea {
        width: 99%;
        height: 25px;
        border: none;
        border-radius: 5px;

        &:focus-visible {
            outline: none;
            box-shadow: 4px 3px 3px -1px #9aa6c9;
        }
    }

    textarea {
        resize: none;
        height: 100px;

        &:focus-visible {
            outline: none;
            box-shadow: 4px 3px 3px -1px #9aa6c9;
        }
    }

    select,
    option {
        border: none;
        border-radius: 5px;

        &:focus-visible {
            outline: none;
            box-shadow: 4px 3px 3px -1px #9aa6c9;
        }
    }

    .button {
        margin: 0;
        width: 100%;
    }

    label {
        font-size: 15px;
        margin-top: 10px;
    }

    .check-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        input {
            width: auto;
            margin-right: 10px;

            &:focus-visible {
                outline: none;
                box-shadow: 4px 3px 3px -1px #9aa6c9;
            }
        }

        span {
            font-size: 15px;
        }
    }
}

.contact-form {
    @media screen and (max-width:400px) {
        max-width: 320px;
        width: 95%;
        margin: auto;

        input,
        label,
        button,
        select {
            width: auto;
        }
    }
}

.new-user {
    padding-top: 2rem;

    h2 {
        font-size: 20px;
    }

    @media screen and (max-width:400px) {
        max-width: 320px;
        width: 95%;
        margin: auto;

        input,
        label,
        button,
        select {
            width: auto;
        }
    }
}

.form-footer {
    margin-top: 1rem;

    .redes {
        svg {
            .lightMode & {
                fill: $liveColor;

                &:hover {
                    transition: $deafaultTransition;
                    fill: darken($liveColor, 15%);
                }
            }

        }
    }
}