// Navbar
nav {
    position: fixed;
    top: 2rem;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 95%;

    @media screen and (max-width:600px) {
        top: 1rem;
    }
}

.great-logo {
    background-color: cyan;
    color: #000000;
    border-radius: 30px;
    padding: 0 5px;
    width: 8rem;
    text-align: center;
    font-size: 30px;
    
    transition: $deafaultTransition;

    .scrollClass & {
        transition: $deafaultTransition;
        font-size: 15px;
        width: 5rem;
        
    }
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: $deafaultTransition;
    background-color: rgba(128, 128, 128, 0.726);
    border-radius: 30px;
    padding: 5px 0px;
    border: 2px solid $darkBgColorAlternative;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

    @media screen and (max-width:700px) {
        flex-direction: column-reverse;
        align-items: flex-end
    }

    .blur-effect {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
        background: rgba(255, 255, 255, 0.33);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);

    }
}

nav .items {
    display: flex;
    align-items: center;
    width: 0;
    justify-content: center;
    overflow: hidden;
    z-index: 9;
    transition: $deafaultTransition;

    @media screen and (max-width:600px) {
        width: 2rem;
        height: 0;
        flex-direction: column;
    }

    a {
        margin: 0 10px;
        opacity: 0;
        transition: all 2s ease;
    }
}

.activeClass {
    background-color: $black;
    color: $white !important;
    padding: 0 8px;
    border-radius: 30px;
    cursor: default;

    &:hover {
        text-decoration: none !important;
    }
}

nav {
    .showItems {
        transition: $deafaultTransition;
        width: 26rem;

        @media screen and (max-width:600px) {
            width: 10rem;
            height: 12rem;
            flex-direction: column;
            align-items: flex-end;

            a {
                margin: 5px 10px;

            }
        }


        a {
            transition: all 2s ease;
            opacity: 1;

        }
    }
}


//Controls

.controls {
    display: flex;
    align-items: center;
    z-index: 9;
}

// Burger Button
.burger-container {
    margin: 0 10px;
    border-radius: 100%;
    background-color: $white;
    width: 55px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid $darkBgColorAlternative;
    transition: $deafaultTransition;

    &:hover {
        background-color: $darkBgColorAlternative;
        border: 2px solid $white;

        div {
            background-color: $white;
        }
    }

    .lightMode & {
        border: 2px solid $white;
        background-color: $darkBgColorAlternative;
        transition: $deafaultTransition;

        &:hover {
            background-color: $white;
            border: 2px solid $darkBgColorAlternative;

            div {
                background-color: $darkBgColorAlternative;
            }
        }
    }

    div {
        height: 3px;
        border-radius: 20px;
        width: 30px;
        background-color: $darkBgColorAlternative;
        margin: 3px 0;
        transition: $deafaultTransition;

        .lightMode & {
            background-color: $white;
            transition: $deafaultTransition;
        }
    }
}

.menu-open {
    div {
        &:nth-child(1) {
            transform: rotate(45deg);
            position: absolute;
            transition: $deafaultTransition;
        }

        &:nth-child(2) {
            transform: rotate(-45deg);
            position: absolute;
            transition: $deafaultTransition;
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
            position: absolute;
            transition: $deafaultTransition;
        }
    }
}





// Theme Selector
.selector-container {
    width: 3rem;
    height: 1.5rem;
    background-color: $white;
    border-radius: 50px;
    padding: 0 5px;
    position: relative;
    border: 2px solid $darkBgColorAlternative;
    display: flex;
    align-items: center;
    transition: $deafaultTransition;
    cursor: pointer;
    margin: 0 10px;

    .selector {
        position: absolute;
        border-radius: 100%;
        background-color: $darkBgColorAlternative;
        height: 1rem;
        width: 1rem;
        transition: $deafaultTransition;
        left: 6px;
    }
}

.update {
    transition: $deafaultTransition;
    border: 2px solid $lightBgColor;
    background-color: $darkBgColorAlternative;

    .selector {
        transition: $deafaultTransition;
        background-color: $lightBgColor;
        left: auto;
        margin-left: 52%;
    }
}