.button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-family: $mainFont;
    text-transform: uppercase;
    color: $white;
    background-color: $liveColor;
    font-size: 15px;
    transition: $deafaultTransition;
    margin: 5px;


    .lightMode & {
        color: $white;
    }

    &:hover {
        transition: $deafaultTransition;
        background-color: darken($liveColor, 15%);
        cursor: pointer;
        text-decoration: none;
    }
}

.hotButton {
    width: 10rem;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: 500;
    font-family: $mainFont;
    text-transform: uppercase;
    color: $white;
    background-color: $liveColor;
    font-size: 25px;
    transition: $deafaultTransition;
    margin: 5px 10px;
    overflow: hidden;

    @media screen and (max-width:700px) {
        font-size: 25px;
        width: 10rem;
    }

    .lightMode & {
        color: $white;
    }

    &:hover {
        transition: $deafaultTransition;
        background-color: darken($liveColor, 15%);
        cursor: pointer;
        text-decoration: none;

    }
}