.mainCard {
    margin: 10px;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid $liveColor;
    box-shadow: 4px 3px 5px -3px #605e5e;
    transition: $deafaultTransition;

    &:hover {
        box-shadow: 4px 3px 5px 0px #605e5e;
        transition: $deafaultTransition;
    }

    .img-card {
        height: 220px;
        width: 100%;
        object-fit: cover;
    }


    .card-content {
        margin: 5px 10px 20px 10px;
    }

    .content-top {
        h3 {
            font-size: 20px;
        }

        p {
            font-size: 15px;
            line-height: 18px;
            margin: 5px 0;
            font-weight: 400;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            /* number of lines to show */
            line-clamp: 4;
            -webkit-box-orient: vertical;

        }
    }
}

.horizontalCard {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    display: flex;
    align-items: center;

    @media screen and (max-width:800px) {
        flex-direction: column;

        .card-content {
            width: 100%;

            .content-top {
                text-align: center;
            }
        }
    }

    img {
        width: 60%;
        height: 250px;
    }

    .card-content {
        max-width: 300px;
    }
}